AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_TRANSCRIBE_S3_BUCKET=sul-transcription-test

GOOGLE_APPLICATION_CREDENTIALS=/path/to/google/service-account/credentials.json
GOOGLE_CLOUD_PROJECT_ID=sul-ai-sandbox
GOOGLE_TRANSCRIBE_GCS_BUCKET=sul-dlss-transcription-test

# Depending on your AWS credentials you may need these too:
#
# AWS_ROLE_ARN=
# AWS_REGION=
# AWS_PROFILE=
